
:root {
    --RoyalBlue : #1C1E53;
    --Darkblue : #282938;
    --Tintblue : #1C1E53;
    --Grey : #F4F6FC;
    --Yellow : #FCD980;
    --Accent : #EEF4FA;
    --white :#fff;
}

.h-center{
    display: flex;
    align-items: center;
}
.bgImage{
    background-image: url(./Components/HomeComponent/images/Card.jpg);
    background-position: center;
    background-size: cover;
}
.inquriBG{
    background:url(./Components/HomeComponent/images/inquiry.jpg) #0205685c   ;
    background-blend-mode: multiply;
}
.workCardoverlay{visibility: hidden; }
.workcard:hover .workCardoverlay{visibility: visible; transition: .3s all linear;}
.featureItem{border: 1px solid transparent; box-shadow: 0px 1px 5px 5px #cacaca;}
