@tailwind base;
@tailwind components;
@tailwind utilities;

*{font-family: sans-serif;}
.whisper-regular {
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
a{
    font-size: 16px;
    display: block;
}

p{
    font-size: 16px;
}
nav{
    position: sticky;
    top: 0;
    z-index: 9999999;
}

.btn{
   padding: 12px 48px; 
   border: 1px solid gray;
   border-radius: 24px;
}
.pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.workCardItem{
    border: 1px solid transparent;
}
.workCardItem:hover{
    border: 1px solid rgba(8, 0, 239, 0.264);
    
}