@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
    
}
.whisper-regular {
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
a{
    display: inline-block;
    text-decoration: none;
}

p{
    font-size: 16px;
}
nav{
    position: sticky;
    top: 0;
    z-index: 9999999;
}

.btn{
   padding: 12px 48px; 
   border: 1px solid gray;
   border-radius: 24px;
}
.pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.workCardItem{
    border: 1px solid transparent;
}
.workCardItem:hover{
    border: 1px solid rgba(8, 0, 239, 0.264);
    
}
/* .picture{
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,201,201,0.32816876750700286) 14%, rgba(175,247,255,0.48503151260504207) 22%, rgba(255,255,75,0.25253851540616246) 25%, rgba(227,255,195,0.5886729691876751) 31%, rgba(9,9,121,0.2189250700280112) 46%, rgba(251,135,251,0.12368697478991597) 56%, rgba(254,53,202,0.21052170868347342) 67%, rgba(0,211,254,0.2049194677871149) 90%, rgba(255,255,255,0.44021358543417366) 100%);
} */
.profileImgdfa{
    background: rgb(19,0,255);
background: linear-gradient(356deg, rgba(19,0,255,0.7540983606557377) 0%, rgba(255,255,255,0.25761124121779855) 63%);
}
.projectImage{
    background: rgb(255,255,255);
background: linear-gradient(170deg, rgba(255,255,255,1) 0%, rgba(212,234,239,1) 53%, rgba(94, 226, 255, 0.486) 100%);
}